.git
.github
.dockerignore
.gitignore
db.sqlite3

.idea
.vscode

__pycache__/
*.py[cod]
*$py.class
*.so
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.venv
venv
README.md

.DS_Store
.AppleDouble
.LSOverride
._*

.vscode
.idea