{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">

        <title>Responsive website food</title>
    </head>
    <body>

        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-chevron-up scrolltop__icon'></i>
        </a>

        <!--========== HEADER ==========-->


        <main class="l-main" id="app">
            <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="#" @click="allItems()" class="nav__logo">akimzhan x aitrix</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <div v-for="category in categories" class="dropdown">
                            <li class="nav__item"><a href="#" class="nav__link">[[ category.name ]]</a></li>
                            <div class="dropdown-content">
                              <a v-for="sub in category.subcategories" @click="filter(sub.id)" href="#">[[ sub.name ]]</a>
                            </div>
                        </div>

                        <div class="dropdown">
                            <li class="nav__item"><a href="#" class="nav__link">Sort Items</a></li>
                            <div class="dropdown-content">
                              <a @click="order('price')" href="#">Increasing price</a>
                              <a @click="order('-price')" href="#">Decreasing price</a>
                            </div>
                        </div>

                        <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

            <!--========== MENU ==========-->
            <section class="menu section bd-container" id="menu">
                <span class="section-subtitle">Special</span>
                <h2 class="section-title">Menu of the week</h2>

                <div class="menu__container bd-grid">
                    <div class="menu__content" v-for="item in results">
<!--                        <img src="assets/img/plate1.png" alt="" class="menu__img">-->
                        <h3 class="menu__name">[[ item.name ]]</h3>
                        <span class="menu__detail">[[ item.subcategory_name ]]</span>
                        <span class="menu__preci">[[ item.price ]] som</span>
                        <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                    </div>

                </div>
            </section>


        <!--========== FOOTER ==========-->
        <footer class="footer section bd-container">


            <p class="footer__copy">&#169; 2022 Akimzhan x Aitrix. All right reserved</p>
        </footer>

        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="{% static 'assets/js/main.js' %}"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="{% static 'vue/common.js' %}"></script>
        <script src="{% static 'vue/routes.js' %}"></script>
        <script src="{% static 'vue/main.js' %}"></script>

    </body>
</html>